Tests: testsuite
Depends: build-essential,
         dbus (>= 1.8),
         openbox,
         qtscript5-dev (>= 5.6.0~),
         xauth,
         xvfb,
         @,
         @builddeps@
Restrictions: build-needed

Tests: acc
Depends: dh-acc, exuberant-ctags, @
Restrictions: allow-stderr
