Source: kitemmodels
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               dbus-x11,
               debhelper (>= 9),
               dh-python,
               extra-cmake-modules (>= 5.28.0~),
               libclang-3.8-dev,
               openbox,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               pyqt5-dev,
               python-clang-3.8,
               python3-all,
               qtbase5-dev (>= 5.5.0~),
               qtdeclarative5-dev (>= 5.5.0~),
               qtscript5-dev (>= 5.5.0~)
Standards-Version: 3.9.8
Homepage: https://projects.kde.org/projects/frameworks/kitemmodels
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/kitemmodels.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kitemmodels.git

Package: libkf5itemmodels-dev
Section: libdevel
Architecture: any
Depends: libkf5itemmodels5 (= ${binary:Version}),
         qtbase5-dev (>= 5.5.0~),
         ${misc:Depends}
Description: additional item/view models for Qt Itemview
 A library which provides additional item/view models for Qt Itemview.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files.
Breaks: libkf5kdelibs4support-dev (<< 5.28)

Package: libkf5itemmodels5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: additional item/view models for Qt Itemview
 A library which provides additional item/view models for Qt Itemview.
 .
 This package is part of KDE Frameworks 5.

Package: python3-pykf5
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Python 3 bindings for KDE Frameworks 5
 This package does not actually provide any module but is a helper.
 .
 This package is part of KDE Frameworks 5.

Package: pykf5.kitemmodels-dev
Architecture: any
Depends: pyqt5-dev, ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Python 3 bindings for KItemModels
 A library which provides additional item/view models for Qt Itemview.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files.

Package: python3-pykf5.kitemmodels
Architecture: any
Depends: python3-pykf5,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
         ${sip3:Depends}
Description: Python 3 bindings for KItemModels
 A library which provides additional item/view models for Qt Itemview.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the Python 3 version of this module.
